* {
 box-sizing: border-box;
 padding: 0;
 margin: 0;
}

.wrapper h1 {
 font-size: 3rem;
}
.wrapper p {
 font-size: 1.4rem;
 color: rgb(231, 231, 228);
 padding-bottom: 1em;
}
.wrapper {
 position: relative;
 z-index: 999;
padding: 3em;
background: #333;
text-align: center;
color: #fff;
}
.search-container{
 position: relative;
}
input {
 padding: .7rem;
 border: none;
 width: 60%;
 font-size: 1rem;
 outline: none;
}
.input-icon {
 position: absolute;
 right: 350px;
 color: rgb(58, 57, 57);
 top: 15px;
}
.intro-text {
 display: flex;
 justify-content: center;
 align-items: center;
}
.intro-icon {
font-size: 2rem;
margin-left: .3em;
}
.image-container {
 position: relative;
 z-index: 999;
 display: grid;
 grid-template-columns: repeat(4, 1fr); 
 gap: 5px; 
 padding: 3em;
}
.image-item img {
 width: 350px;
 height: 220px;
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;
  object-fit:cover;
}
.error-message {
 color: #fff;
 position: relative;
 z-index: 999;
 font-size: 3rem;
 padding: 3rem;
 text-align: center;
}
/* Style for the loader spinner */
.loader {
 border: 4px solid rgba(255, 255, 255, 0.3);
 border-radius: 50%;
 border-top: 4px solid #333;
 width: 40px;
 height: 40px;
 animation: spin 1s linear infinite;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 display: none; /* Initially hidden */
}

/* Keyframes for spinner animation */
@keyframes spin {
 0% { transform: rotate(0deg); }
 100% { transform: rotate(360deg); }
}
/* Media query for mobile */
@media (max-width: 768px) {
 .image-container {
  display: grid;
     grid-template-columns: repeat(2 , 1fr);
 } 
 .image-item img {
 width: 160px;
 height: 170px;
 }
 .input-icon {
  right: 100px;
 }

}
/* Css styling for medium screen */
@media screen and (min-width: 768px) and (max-width: 1024px) {
 .image-container {
display: grid;
  grid-template-columns: repeat(3, 1fr);
} 
.image-item img {
width: 220px;
height: 180px;
background-size: cover; 
background-repeat: no-repeat;
background-position: center;
object-fit:cover;
}
.input-icon {
 right: 200px;
}
}